.definitionPopUp {
  position: absolute;
  background-color: pink;
  opacity: 0.85;
  font-size: small;
  color: grey;
  display: block;
}

.DefineMe {
  background-color: white;
  position: absolute;
}

.NotDefineMe {
  background-color: white;
  position: absolute;
  display: none;
}
